*{
    margin: 0;
    padding: 0;
}

/*font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;*/

body {
    font-size: 15px;
}

.home {
    background-image: url(img/desktop/image-hero.webp);
    height: 97vh;
    background-size: cover;
}

.home .header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
}

.home .header .nav ul {
    list-style: none;
    display: flex;
}

.home .header .nav ul li {
    display: flex;
    width: 80px;
}

.home .header .nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
   
}

.teste::after {
    content: '';
    display: block;
    border-bottom: 2px solid hsl(0, 0%, 100%);
    width: 25px;
    margin: 30px auto;
    position: absolute;
}


.home .header .logo {
    width: 22%;
    height: 22%;
}

/*.home .header .nav ul li a:hover {
    transition-duration: 50ms;
    border-bottom: 2px solid hsl(0, 0%, 100%);
    padding: 15px 0px 0px 0px;
}*/


.home .square {
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    width: 610px;
    height: 260px;
    font-size:43px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 120px 0 0 160px;
    
    
}

.home .square h1 {
    padding:32px;
    letter-spacing: 4px;
    font-weight: 300;
}



           /**********************
            **   HOME - BANNER   **
            ***********************/

.container {
    width: 78vw;
    margin: 0 auto ;
}

.about {
    display: flex;
    background-color:hsl(0, 0%, 100%);
    width: 70vw;
    height: 70vh;
    margin-top: 170px;
}

.about .vr img {
    position: absolute;
    width: 650px;
}

.about .text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 350px;
    right: 7%;
    margin-top: 160px;

}

.about .text .padding {
    padding: 80px;
}

.about .text h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 40px; 
   
}

.about .text p {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
}   




                  /**********************
                   **   HOME - BANNER   **
                  ***********************/


.creations {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 200px;
    color: hsl(0, 0%, 100%);
}

.creations .infos {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: end;
}

.creations .infos h1 {
    color: black;
    text-transform: uppercase;
    font-size: 40px;
}

.creations .infos button {
    color: hsl(0, 0%, 100%);
    background-color: black;
    letter-spacing: 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.creations .infos button:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.178); 
}

.creations .gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.creations .gallery div {
    width: 240px;
    height: 390px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.creations .gallery div:hover {
    color: rgb(0, 0, 0);
}

.creations .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.creations .flex div {
    width: 240px;
    height: 390px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.creations span {
    
    font-size:30px;
    font-weight: 200;
    margin-bottom: 15px;
    text-shadow: 0.1em 0.2em 0.3em black;
    filter: none;
}



.deep {
    background-image: url(img/desktop/image-deep-earth.jpg);
}

.night {
   
    background-image: url(img/desktop/image-night-arcade.jpg);
}

.soccer {
    
    background-image: url(img/desktop/image-soccer-team.jpg);
}

.grid{
    background-image: url(img/desktop/image-grid.jpg);
}

.from{
    background-image: url(img/desktop/image-from-above.jpg);
}

.pocket{
 
    background-image: url(img/desktop/image-pocket-borealis.jpg);
}

.curiosity{
    
    background-image: url(img/desktop/image-curiosity.jpg);
}

.make {
    background-image: url(img/desktop/image-fisheye.jpg);
}




                  /**********************
                   **    BANNER - FOOTER  **
                  ***********************/



.footer {
    background-color: black;
    font-family: 'Alata', sans-serif;
    margin-top: 180px;
    height: 25vh;
}

.footer .container {
    padding-top: 30px;
}

.footer .divImg {
    display: flex;
    justify-content: space-between;
}

.footer .divImg .logo {
    color: aliceblue;
    width: 160px;
}

.footer .social img {
    margin: 0 10px;
    
}

.footer .social a {
    text-decoration: none;
}

/*.footer .social a:hover {
    transition-duration: 50ms;
    border-bottom: 2px solid hsl(0, 0%, 100%);
    padding: 15px 0px 0px 0px;
}*/

.footer .navFooter {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.footer .navFooter ul {
    display: flex;
    list-style: none;
    
}

.footer .navFooter a {
   text-decoration: none;
   color: aliceblue;
   margin: 15px 15px 0 10px;
}

/*.footer .navFooter a:hover {
    transition-duration: 50ms;
    border-bottom: 2px solid hsl(0, 0%, 100%);
    padding: 15px 0px 0px 0px;
}
*/
.footer span {
    color: hsl(0, 0%, 41%);
    font-size: 15px;
}